body {
    background-color: #000000;
    font-family: 'Poppins';
    overflow-x: hidden;
    letter-spacing: 0.02em;
}

.beta {
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
    padding: 2px 4px;
    margin-left: 4px;
    margin-right: 16px;
    border-radius: 4px;
}

.navbarText .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #E2E2E4;
}

.wh48 {
    width: 48px;
    height: 48px;
}

.removeFocus:focus {
    box-shadow: none;
}

.font18 {
    font-size: 18px;
    line-height: 20px;
}

.font500 {
    font-weight: 500;
}

.lightWhite {
    color: #B2B3B4;
}

.lightWhite:hover {
    color: #B2B3B4;
}

/* .linearBg {
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
} */

.height48 {
    height: 48px;
}

.borderRadius60 {
    border-radius: 60px;
}

.w131 {
    width: 131px;
}

.font50 {
    font-size: 50px;
    line-height: 70px;
}

.font800 {
    font-weight: 800;
}

.offWhiteColor {
    color: #DCDCDC;
}

.font20 {
    font-size: 20px;
    line-height: 34px;
}

.linearCircle {
    width: 100%;
    height: 80vh;
    background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
    border-radius: 50%;
}

.lineBg {
    background-image: url('.././assets/home/Vector\ 4.svg');
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: right;
    margin-top: -250px;
    background-clip: border-box;
    background-origin: border-box;
}

.linearCircle2 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.lineBg2 {
    background-image: url('.././assets/home/Vector\ 3.svg');
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: left;
}

.rightNagativeMargin {
    margin-right: -150px;
}

.padding300 {
    padding-top: 300px;
}

.mr38 {
    margin-right: -38px;
}

.padding100 {
    padding-top: 100px;
}

.customBorderColor {
    border-color: #3E4246;
}

.font38 {
    font-size: 38px;
    line-height: 50px;
}

.font700 {
    font-weight: 700;
}

.gradientBorder {
    border: 1px solid transparent;
    border-radius: 60px;
    background-image: linear-gradient(#000000, #000000), 
                      linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.font28 {
    font-size: 28px;
    line-height: 42px;
}

.gradientAnchor {
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.borderRadius30 {
    border-radius: 30px;
}

.linearBg2 {
    background:  linear-gradient(270deg, #D71F7B -1.64%, #8A54D0 100%);
}

.buttonLinear {
    background: linear-gradient(270deg, #3AA0FE 0%, #59FEF4 100%);
    box-shadow: 0px 8px 20px rgba(91, 24, 166, 0.19);
}

.mr130 {
    margin-right: -130px;
}

.font600 {
    font-weight: 600;
}

.footerWhiteColor a {
    color: #E1E1E1;
}

.footerWhiteColor {
    color: #E1E1E1;
}

.font16 {
    font-size: 16px;
    line-height: 26px;
}

.mutedWhiteColor {
    color: #A3A3A3;
}

.linearGradient {
    background: linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
}

.gradientBorderbottom {
    height: 2px;
    background: linear-gradient(270deg, #151515 19.53%, #1E6AE7 75.65%, #E815F3 100%);
    border-radius: 3px;
}

.numericLinear {
    background: linear-gradient(270deg, #3AA0FE 0%, #59FEF4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.rightMarginNegative {
    margin-right: -130px;
}

.rightMargin {
    margin-left: 130px;
}

/* .leftMarginNegative {
    margin-left: -140px;
}

.rightMargin {
    margin-right: 140px;
} */

.purpleGradient {
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bgBlur {
    -webkit-backdrop-filter: blur(6px) !important;
    backdrop-filter: blur(6px) !important;
}