.slider {
    -webkit-appearance: none;
    /* -moz-appearance:none; */
    width: 100%;
    height: 0px; 
    border-radius: 20px;
    background: transparent !important;
    outline: none;
    border: 0px !important;
    cursor:pointer;
}

.marginTop-56 {
    margin-top: -19px !important;
}


.sold-out{
    font-weight: bolder  !important;
    font-size:21px !important;
    color:#000 !important;
    padding:2px 5px !important;
    cursor:default;
}

.sliderTrack {
    /* -webkit-appearance: none;
    -moz-appearance:none; */
    height: 20px;
    border-radius: 20px !important; 
    background: linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%) !important;
    align-items: center;
}
  
.slider::-moz-range-thumb {
    /* -moz-appearance:none; */
    width: 55px;
    height: 110px;
    border-radius: 50%;
    border: 0;
    background-image: url('../assets/subscriptionNew/Slider\ knob.svg') !important;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent !important;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 55px;
    height: 110px;
    border-radius: 50%;
    border: 0;
    background-image: url('../assets/subscriptionNew/Slider\ knob.svg') !important;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -10px;
    background-color: transparent !important;
}

.hrDot {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%); 
}

.w218 {
    width: 200px !important;
    margin: auto;
}

.fountGradientText {
    background: linear-gradient(180deg, #3AA0FE 0%, #3AF2FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.soldOutGradientText {
    background: linear-gradient(180deg, #616161 0%, #434343 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-color {
    background: linear-gradient(270deg, #616161 0%, #434343 100%);
    -webkit-background-clip: text; /* for webkit browsers like Chrome and Safari */
    color: transparent; /* make the text transparent so that the gradient background is visible through it */
}


.orangeGradientText {
    background: linear-gradient(180deg, #E9651B 0%, #FF8933 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.unlimitedGradientText {
    background: linear-gradient(180deg, #FF0C0C 0%, #FF630C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.font24 {
    font-size: 24px;
    line-height: 34px;
}

.customBorder0 {
    border-left: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
}

.brTop30 {
    border-radius: 30px 30px 0px 0px;
}

.brTop20 {
    border-radius: 20px 20px 0px 0px;
}

.foundationSubCard {
    background: transparent;
    background-image: linear-gradient(90deg, #212123, #212123), linear-gradient(180deg, #3BEEFF 20.72%, rgba(62, 66, 70, 0) 97.79%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-bottom: 0px !important;
}
.soldOutSubCard {
    background: transparent;
    background-image: linear-gradient(90deg, #212123, #212123), linear-gradient(180deg, #616161 20.72%, rgba(62, 66, 70, 0) 97.79%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-bottom: 0px !important;
}

.recommendSubCard {
    background-image: linear-gradient(90deg, #212123, #212123), linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%) !important;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-bottom: 0px !important;
}

.enhancedGradient {
    background-image: linear-gradient(90deg, #212123, #212123), linear-gradient(180deg, #FF8A34 20.72%, rgba(62, 66, 70, 0) 97.79%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-bottom: 0px !important;
}

.recommendBorder {
    background-image: linear-gradient(90deg, #151617, #151617), linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent; 
    border-bottom: 0px !important;
    border-top: 0px !important;
}

.unlimitedSubCard {
    background: transparent;
    background-image: linear-gradient(90deg, #212123, #212123), linear-gradient(180deg, #FF0C0C 20.72%, rgba(62, 66, 70, 0) 97.79%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    /* border-radius: 30px; */
    border-bottom: 0px !important;
}

.tipBg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);
    border-radius: 0px 0px 20px 20px;
    z-index: 0;
}

.textHour {
    font-size: 30px;
    line-height: 40px;
}

@media (max-width: 991px) and (min-width: 767px) {
    .font24 {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    .w218 {
        width: 155px !important;
        margin: auto !important;
    }

    .textHour {
        font-size: 24px !important;
        line-height: 34px !important;
        font-weight: 600 !important;
    }
}

.font30 {
    font-size: 30px;
    line-height: 40px;
}

@media (max-width: 767.9px) and (min-width: 400px) {
    .font24 {
        font-size: 18px !important;
        line-height: 21px !important;
    }

    .w218 {
        width: 108px !important;
        margin: auto !important;
    }

    .font30 {
        font-size: 24px !important;
        line-height: 24px !important;
    }

    .textHour {
        font-size: 20px !important;
        line-height: 30px !important;
        font-weight: 500 !important;
    }
}

.width100 {
    width: 100px;
}

@media (max-width: 500px) {
    .font24 {
        font-size: 12px !important;
        line-height: 14px !important;
    }
}

@media (max-width: 350px) {
    .font24 {
        font-size: 11px !important;
        line-height: 12px !important;
    }
}

@media (max-width: 399.9px) {

    .w218 {
        width: 100px !important;
        margin: auto !important;
    }

    .textHour {
        font-size: 20px !important;
        line-height: 30px !important;
        font-weight: 500 !important;
    }

    .font30 {
        font-size: 24px !important;
        line-height: 24px !important;
    }
}

.recommendedBg {
    background: linear-gradient(270.93deg, #0775E6 -4.56%, #6C4AED 40.85%, #7D43EE 75.67%, #9738EF 103.16%);
}

.marginTop-20 {
    margin-top: -40px !important;
}

.hoverGradient:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(270deg, #A83AFE 0%, #6E59FE 100%);    
}

.flipImage {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: relative;
    margin-bottom: -8px;
}

.gradientBorder {
    background: transparent;
    background-image: linear-gradient(90deg, #151617, #151617), linear-gradient(300.3deg, #0575E6 9.6%, #FF0CF5 92.85%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 40px;
}

@media (max-width: 345px) {
    .w100 {
        width: 84px !important;
    }
}

@media (min-width: 345.1px) and (max-width: 450px) {
    .w100 {
        width: 90px !important;
    } 
}

@media (min-width: 450.1px) {
    .w100 {
        width: 100px !important;
    }
}

@media (min-width: 500.1px) {
    .w100 {
        width: 130px !important;
    }
}

.w100 {
    width: 110px;
    margin: 0px 5px;
}

.font12 {
    font-size: 12px !important;
    line-height: 14px !important;
}

.font15 {
    font-size: 15px !important;
    line-height: 16px !important;
}

.font8 {
    font-size: 10px !important;
    line-height: 9px !important;
}
/* 
.slidecontainer input[type=range] {
    pointer-events: none;
} */

/* .slidecontainer input[type=range]::-webkit-slider-thumb {
    pointer-events:auto;
} */

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-right: 1px;
    scrollbar-width: none;
}

@media (max-width: 767px) {
    .testimonial-group > .row {
        margin-left: 0px;
      }
}

.testimonial-group > .row > .col {
    display: inline-block;
}

.testimonial-group > .row > .col-auto {
    display: inline-block;

}

.testimonial-group > .row::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.customBlackBg {
    background-color: #151617;
}

.monterRange {
    position: absolute;
    width: auto !important;
    height: auto !important;
    padding: 5px 20px !important;
    margin-top: -50px !important;
    white-space: nowrap;
}
.discountGif {
    position: absolute;
    width: auto !important;
    height: auto !important;
    padding: 5px 20px !important;
    margin-top: -50px !important;
    white-space: nowrap;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .discountGif {
        margin-top: -40px !important;
        margin-left: 40px !important;
    }
    #discountGifunlimited {
        margin-left:-250px !important;
        position: absolute;
        width: auto !important;
        height: auto !important;
        padding: 5px 20px !important;
        margin-top: -40px !important;
        white-space: nowrap;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
    .discountGif {
        margin-top: -55px !important;
    }
    #discountGifunlimited {
        margin-left:-270px !important;
        position: absolute;
        width: auto !important;
        height: auto !important;
        padding: 5px 20px !important;
        margin-top: -55px !important;
        white-space: nowrap;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .discountGif {
        margin-top: -55px !important;
    }
    #discountGifunlimited {
        margin-left:-300px !important;
        position: absolute;
        width: auto !important;
        height: auto !important;
        padding: 5px 20px !important;
        margin-top: -50px !important;
        white-space: nowrap;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .discountGif {
        margin-top: -50px !important;
    }
    #discountGifunlimited {
        margin-left:-330px !important;
        position: absolute;
        width: auto !important;
        height: auto !important;
        padding: 5px 20px !important;
        margin-top: -50px !important;
        white-space: nowrap;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .discountGif {
        margin-top: -50px !important;
    }
    #discountGifunlimited {
        margin-left:-330px !important;
        position: absolute;
        width: auto !important;
        height: auto !important;
        padding: 5px 20px !important;
        margin-top: -50px !important;
        white-space: nowrap;
    }
}


.moveright {
    animation-name: moveright;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    animation-fill-mode: forwards ;
    display: flex;
    flex-direction: column;
}

@keyframes moveright {
    0% {  
        transform: translateX(0%);
        position: absolute; 
        opacity: 1;
        visibility: visible;
    }
    100% { 
        transform: translateX(100%); 
        position: absolute;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes moveright {
    0% {  
        -webkit-transform: translateX(0%);
        position: absolute; 
        opacity: 1;
        visibility: visible;
    }
    100% { 
        -webkit-transform: translateX(100%); 
        position: absolute;
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}

.moveleft {
    animation-name: moveleft;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
}

@keyframes moveleft {
    0% {  
        transform: translateX(-100%); 
        position: absolute;
    }
    100% { 
        transform: translateX(0%);
    }
}

.marginTop-45 {
    margin-top: -45px;
}

.height40 {
    height: 45px;
    padding-top: 6px;
}

.height45 {
    height: 45px;
}

.marginLeft15P {
    margin-left: 18%;
}

.marginLeft5P {
    margin-left: 8%;
}

@media (max-width: 768px) {
    .marginTop-45 {
        margin-top: -25px;
    }
}

@media (max-width: 631.1px) {
    
    .marginLeft15P {
        margin-left: 15%;
    }
    
    .marginLeft5P {
        margin-left: 7%;
    }

    .slider::-moz-range-thumb {
        width: 35px;
        height: 110px;
    }
      
    .slider::-webkit-slider-thumb {
        width: 35px;
        height: 90px;
    }

    .monterRange {
        padding: 0px 10px !important;
        margin-top: -30px !important;
    }
}

@media (max-width: 460px) {
    .marginLeft5P {
        margin-left: 5%;
    }
}

@media (max-width: 400px) {
    .marginLeft5P {
        margin-left: 5%;
    }

    .marginLeft15P {
        margin-left: 13%;
    }
}

.opacity0 {
    opacity: 0;
}

.height130px {
    height: 130px;
}

.overflowXHidden {
    overflow-x: hidden;
}


.marginTop-67 {
    margin-top: -67px !important;
}
.marginTop-2 {
    margin-top: -10px !important;
}


@media (max-width: 1000px) {
    .marginTop-20 {
        margin-top: -20px !important;
    }
}

@media (max-width: 767.9px) {
    .marginTop-20 {
        margin-top: -15px !important;
    }

    .marginTop-67 {
        margin-top: -50px !important;
    }
}

@media (max-width: 500px) {
    .font12 {
        font-size: 8px !important;
        line-height: 8px !important;  
    }
    .font8 {
        font-size: 6px !important;
        line-height: 5px !important;  
    }

    .width100 {
        width: 80px !important;
    }

    .marginTop-20 {
        margin-top: -3px !important;
    }
}


@media (max-width: 380px) {
    .font8 {
        font-size: 4.25px !important;
        line-height: 5px !important;  
    }
}

.w1000 {
    width: 1000px;
}

@media (max-width: 1000px) {
    .w1000 {
        width: 100% !important;
    }
}

@media (min-width: 767.9px) {
    .visibleHideInDesktop {
        visibility: hidden;
    } 
}

.sliderDefaultHeight {
    height: 640px; 
    overflow: hidden
}

@media (max-width: 1198.9px) {
    .sliderDefaultHeight {
        height: 600px !important; 
    }
}

@media (max-width: 991.9px) {
    .sliderDefaultHeight {
        height: 580px !important; 
    }
}

@media (max-width: 767.9px) {
    .sliderDefaultHeight {
        height: 785px !important;
    }
}

@media (max-width: 575.9px) {
    .sliderDefaultHeight {
        height: 765px !important;
    }
}

@media (max-width: 349.9px) {
    .sliderDefaultHeight {
        height: 750px !important;
    }
}

.font8 {
    font-size: 10px !important;
    line-height: 9px !important;
}

@media (max-width: 380px) {
    .font8 {
        font-size: 4.25px !important;
        line-height: 5px !important;  
    }
}

@media (max-width: 500px) {
    .font8 {
        font-size: 8px !important;
        line-height: 5px !important;  
    }
}

.unlimited-star {
    color: red;
}



   

  #overlay-msg{
    display: none;
    position: fixed;
    top:20%;
    background:transparent;
    align-items: center;
    justify-content: center;
    z-index:1000;
  }

  #overlay-email{
    display: none;
    position: fixed;
    top:30%;
    background:transparent;
    align-items: center;
    justify-content: center;
    z-index:2000;
  }
  #overlay-notif{
     display: none;
    position: fixed;
    top:50%;
    left:2%;
    background:transparent;
    align-items: center;
    justify-content: center;
    z-index:2000;
  }

  #popup-email{
      background-color:#212123;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 30rem;
    height:24rem;
  }

  #popup-msg{
    background-color:#212123;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    width: 480px;
    height:576px;
  }

  #popup-notif {
   background-color:#3E4246;
   color: #fff;
   border-radius: 40px;
   text-align: center;
   width: 28rem;
   height:4rem;
   word-wrap: break-word;
   padding:10px;
 }

  #closeBtn {
    cursor: pointer;
    color: #fff;
    font-weight: 200;
    margin-top: 10px;
    display: inline-block;
      font-size:1em;
      border-radius:10px;
      padding:13px;
      width:100%;
      margin-bottom:10px;
  }
  .subtext{
      color:#959595;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: .02em;
      word-wrap: break-word;
      word-break: break-word;
      padding:40px 0 40px 0;
  }
  .wait-icon{
   display:flex;
   
  }
  .popup-container{
    margin-top:60px;
      display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
      padding:0 50px;     
  }

  @media (max-width:600px){
    #popup-msg{
        width:18rem;
        height:22rem;
    }
    #popup-email{
        width:18rem !important;
        height:15rem;
    }
    .heading{
        font-size: 15px !important;
        width:14rem;
    }
    .wait-icon{
        width:3rem;
        height:3rem;
    }
    .subtext{
        font-size:10px;
        padding: 20px 0;
        width:12rem !important;
    }
    .cross{
        width:0.8rem;
        height:0.8rem;
    }
    .popup-container{
        margin-top:25px;
    }
    .gradientBtnNotify{
        padding:4px !important;
        font-size:0.7rem !important;
        border-radius:15px !important;
    }
    #closeBtn{
        padding:3px !important;
        font-size:0.7rem !important;
        border-radius:4px !important;
    }
    .disableBtnNotify{
        padding:4px !important;
        font-size:0.7rem !important;
        border-radius:15px !important;
    }
    #input-email{
        font-size:0.7rem !important;
        height:10px !important;
        margin-top:10px !important;
        width:13rem !important;
    }
    .margin-custom{
        margin-top:25px !important;
    }
    #popup-notif {
        border-radius: 10px;
        width: 15rem !important;
        height:3rem;
        padding:10px 20px;
        
      }
      #notify-user-msg{
        font-size:0.65rem;
      }
  }
  @media (min-width:600.01px) and (max-width:1024px){
    #popup-msg{
        width:25rem;
        height:34rem;
    }
    .wait-icon{
        width:5rem;
        height:5rem;
    }
    .subtext{
        font-size:15px;
        padding: 30px 0;
        width:16rem;
    }
    .cross{
        width:1rem;
        height:1rem;
    }
    .popup-container{
        margin-top:46px;
    }
    .gradientBtnNotify{
        padding:8px !important;
        font-size:1.2rem !important;
        border-radius:17px !important;
        width:16rem !important;
    }
    .disableBtnNotify{
        padding:8px !important;
        font-size:1.2rem !important;
        border-radius:17px !important;
        width:16rem !important;
    }
    #closeBtn{
        padding:3px !important;
        font-size:1rem !important;
        border-radius:6px !important;
    }
    #popup-notif {
        border-radius: 10px;
        width: 26rem !important;
        height:4.3rem;
        padding:10px 20px;
        
      }
      #notify-user-msg{
        font-size:1rem;
      }
    
  }
  
  .gradientBtnNotify{
      color:#fff;
      font-size:1em;
      cursor:pointer;
      border-radius:10px;
      background:linear-gradient(300.3deg,#0575E6 9.6%,#FF0CF5 92.85%);
      padding:13px;
      font-weight:500;
      width:100%;
      border:none;
  }
  .disableBtnNotify{
    color:#fff;
    font-size:1em;
    cursor:pointer;
    border-radius:10px;
    background:linear-gradient(270deg, #616161 0%, #434343 100%);
    padding:13px;
    font-weight:500;
    width:100%;
    border:none;
}
.know-more-btn{
    padding:0.3rem 0.2rem !important;
}

   .cross-wrapper{
    pointer:cursor !important;
   }
  .cross{
      display:flex;
      float:right;
      
  }
  .heading{
      font-size: 22px;
      font-weight: bold;
  }

  #input-email{
      margin-top:15px;
      background: none;
      padding:15px;
      font-size: 18px;
      border:1px solid white;
      border-radius:5px;
      width:100%;
      color:white;
  }
  .margin-custom{
      margin-top:50px;
  }